
{% extends "layout.html" %}

{% block body %}
<div class="container text-center" style="font-variant-caps: all-small-caps;">
    <div style="padding-bottom: 15px;font-size: x-large">Отзывы</div>
{% if user.is_authenticated %}
    <form name="feedback_input" method="post">
    {% csrf_token %}
    <b>Оставьте отзыв!</b><br>
   <textarea name="comment" cols="80" rows="5"></textarea><br>
    <input type="submit" value="Отправить">
 </form>
{% endif %}
    <table>
                <tbody>
                    {% for feedback,vals in feedbacks.items %}
                        <tr>
                            <td>
                                <a>{{feedback}}</a><br>
                                <a>{{vals.text}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
    </table>

    <div>

    </div>
</div>

{% endblock %}
