
{% extends "layout.html" %}

{% block body %}
<div class="container text-center" style="font-variant-caps: all-small-caps;">
    <div style="padding-bottom: 15px;font-size: x-large">Отзывы</div>
    <table>
                <tbody>
                    {% for feedback,vals in feedbacks.items %}
                        <tr>
                            <td>
                                <a>{{feedback}}</a><br>
                                <a>{{vals.text}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
    </table>
    <div>

    </div>
</div>

{% endblock %}
