{% extends "layout.html" %}

{% block body %}
    <form action= "{%  url  'confirm_order' %}" method="post">
    {% csrf_token %}
        <div class="container">
          <div class="text-center" style="padding-bottom: 15px;">
              <h3>Наше меню</h3>
              <h5>Выберите необходимые позиции</h5>
          </div>

          <table>
            <thead>
                <th scope="col">Пицца</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
            </thead>
            {% for pizza in pizzas %}

                <tr>
                    <td>
                        <label for="{{pizza.name}}" style="font-size: x-large">{{pizza.name}}</label><br>
                        <label for="{{ pizza.description }}" style="font-size: large; font-style: italic;">{{ pizza.description }}</label>
                    </td>
                    <td><label for="{{ pizza.price }}">{{ pizza.price }} Руб. </label></td>
                    <input type="hidden" value="{{ pizza.price }}" name="price">
                    <td><input name="qty_pizza" class="qty" type="number" min="0" max="100" value="0"></td>
                </tr>

            {% endfor %}
          </table>
          <table>
            <thead>
                <th scope="col">Напитки</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
            </thead>
            {% for drink in drinks %}

                <tr>
                    <td>
                        <label for="{{drink.name}}" style="font-size: x-large">{{drink.name}}</label><br>
                        <label for="{{ drink.description }}" style="font-size: large; font-style: italic;">{{ drink.description }}</label>
                    </td>
                    <td><label for="{{ drink.price }}">{{ drink.price }} Руб. </label></td>
                    <input type="hidden" value="{{ drink.price }}" name="price">
                    <td><input name="qty_drink" class="qty" type="number" min="0" max="100" value="0"></td>
                </tr>

            {% endfor %}
          </table>
          <table>
            <thead>
                <th scope="col">Закуски</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
            </thead>
            {% for snack in snacks %}

                <tr>
                    <td>
                        <label for="{{snack.name}}" style="font-size: x-large">{{snack.name}}</label><br>
                        <label for="{{ snack.description }}" style="font-size: large; font-style: italic;">{{ snack.description }}</label>
                    </td>
                    <td><label for="{{ snack.price }}">{{ snack.price }} Руб. </label></td>
                    <input type="hidden" value="{{ snack.price }}" name="price">
                    <td><input name="qty_snack" class="qty" type="number" min="0" max="100" value="0"></td>
                </tr>

            {% endfor %}
          </table>
        <div class="text-center" style="padding-top: 20px; ">
          <button id="placeorder" type="submit" class="btn mx-1 my-xl-0 my-2" disabled
                  style="font-size: x-large;font-variant-caps: all-small-caps;"> Place Order </button>
        </div>

    </div>

{#    <script>#}
{#    function addQty(name) {#}
{#        if($('#Margarita').prop('checked')){#}
{#            let val = $('#qty_${name}').val();#}
{#            let set_val = parseInt(val) + 1#}
{#            $('#qty_{{ name }}').val(set_val);#}
{#        }#}
{#    }#}
{#    </script>#}
    </form>
{% endblock %}