{% extends "layout.html" %}
{% block body %}
    <form action= "{%  url  'place_order' %}" method="post">
    {% csrf_token %}
        <div class="container">
          <div class="text-center" style="padding-bottom: 15px;font-size: x-large;font-variant-caps: all-small-caps;">
            <h3>Проверьте заказ и заполните адресс доставки</h3>
          </div>
          <table>
            <thead>
            <tr>
                    <th scope="col">Позиция</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            {% for item, qty, price in pizzas_summary %}

                <tr>
                    <td><label for="{{item.name}}" style="font-size: x-large">{{ item.name }}</label><br>
                        <label for="{{ item.description }}" style="font-size: large; font-style: italic;">{{ item.description }}</label>
                    </td>
                    <input type="hidden" name="pizza" value="{{ item.name }}">
                    <td><label for="{{ qty }}">{{ qty }}</label> </td>
                    <input type="hidden" name="pizza_qty" value="{{ qty }}">
                    <td><label for="{{ price }}">{{ price }} РУБ</label></td>
                    <input type="hidden" name="price" value="{{ price }}">
                </tr>

            {% endfor %}
          {% for item, qty, price in drinks_summary %}

                <tr>
                    <td><label for="{{item.name}}" style="font-size: x-large">{{ item.name }}</label><br>
                        <label for="{{ item.description }}" style="font-size: large; font-style: italic;">{{ item.description }}</label>
                    </td>
                    <input type="hidden" name="drink" value="{{ item.name }}">
                    <td><label for="{{ qty }}">{{ qty }}</label> </td>
                    <input type="hidden" name="drink_qty" value="{{ qty }}">
                    <td><label for="{{ price }}">{{ price }} РУБ</label></td>
                    <input type="hidden" name="price" value="{{ price }}">
                </tr>

            {% endfor %}
          {% for item, qty, price in snacks_summary %}

                <tr>
                    <td><label for="{{item.name}}" style="font-size: x-large">{{ item.name }}</label><br>
                        <label for="{{ item.description }}" style="font-size: large; font-style: italic;">{{ item.description }}</label>
                    </td>
                    <input type="hidden" name="snack" value="{{ item.name }}">
                    <td><label for="{{ qty }}">{{ qty }}</label> </td>
                    <input type="hidden" name="snack_qty" value="{{ qty }}">
                    <td><label for="{{ price }}">{{ price }} РУБ</label></td>
                    <input type="hidden" name="price" value="{{ price }}">
                </tr>

            {% endfor %}

          </table>
        <div class="text-center" style="font-variant-caps: all-small-caps;">
            <label for="{{ grand_total }}" style="font-size: large; font-variant-caps: all-small-caps;">
                Цена доставки : 100 Рублей <br>
                Итоговая цена с учетом доставки: <strong>{{ grand_total }} РУБ</strong></label>
            <h4 >Укажите адресс доставки</h4><br>
            <table style="border: 0px !important;font-size: medium">
                <tr>
                    <td style="border: 0px !important;"><label for="address">Адресс:</label></td>
                    <td style="border: 0px !important;"><input type="text" placeholder="Улица, дом, квартира" required></td>
                </tr>
                <tr>
                    <td style="border: 0px !important;"><label for="telephone">Telephone Number:</label></td>
                    <td style="border: 0px !important;"><input type="tel" placeholder="phone number" required pattern="[0-9]*"></td>
                </tr>

            </table>
            <div class="text-center" style="padding-top: 20px; ">
                <button type="submit" style="font-size: x-large;font-variant-caps: all-small-caps;"> Заказать </button>
            </div>
        </div>


        </div>
    </form>
{% endblock %}